.fab-wrap {
  margin: 25px;
  position: fixed;
  z-index: 999999;
  right: 0;
  bottom: 0; }
  .fab-wrap > a {
    margin-bottom: 0 !important; }
  .fab-wrap a {
    height: 52px;
    width: 52px;
    line-height: 52px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: all ease 0.2s;
    margin-bottom: -10px; }
    .fab-wrap a > svg {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: inline-block; }
    .fab-wrap a .fab-btns {
      visibility: hidden;
      position: absolute;
      bottom: 100%;
      animation: 0.5s out;
      padding-bottom: 20px;
      margin-bottom: -20px; }
    .fab-wrap a:after {
      content: attr(data-fab-label);
      box-sizing: border-box;
      font-size: 14px;
      position: absolute;
      pointer-events: none;
      z-index: -1;
      transition: all ease 0.2s;
      opacity: 0;
      border-radius: 9px;
      padding: 0 50px 0 1em;
      text-align: left;
      right: 50%;
      line-height: 52px; }
    .fab-wrap a:hover .fab-btns {
      visibility: visible;
      animation: 0.5s in; }
    .fab-wrap a:hover:after {
      opacity: 1; }

@keyframes in {
  0% {
    opacity: 0;
    transform: translate(0px, -25px); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }

@keyframes out {
  0% {
    opacity: 1;
    transform: translate(0px, 0px); }
  100% {
    opacity: 0;
    transform: translate(0px, -25px); } }
