.fab-wrap {
  box-sizing: border-box;
  margin: 25px;
  position: fixed;
  z-index: 999999;
  right: 0;
  bottom: 0;

  > .fab-btn {
    margin-bottom: 0;
  }

  .fab-btn {
    height: 52px;
    width: 52px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    position: relative;
    line-height: 46px;
    text-align: center;
    transition: all ease 0.2s;
    margin-bottom: 7px;

    .fab-children {
      visibility: hidden;
      position: absolute;
      bottom: 100%;
      animation: 0.5s out;
    }

    &:after {
      content: attr(data-fab-label);
      opacity: 0;
      border-radius: 9px;
      padding: 0 60px 0 1em;
      text-align: left;
      font-size: 14px;
      pointer-events: none;
      position: absolute;
      right: 50%;
      line-height: 52px;
      width: 100px;
      z-index: -1;
      transition: all ease 0.2s;
    }

    &:hover {
      .fab-children {
        visibility: visible;
        animation: 0.5s in;
      }

      &:after {
        opacity: 1;
      }
    }

    svg {
      vertical-align: middle;
    }
  }
}

@keyframes in {
  0% {
    opacity: 0;
    transform: translate(0px, -25px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes out {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 0;
    transform: translate(0px, -25px);
  }
}
